body{
background-image:url("../assets/back.jpg");
}

h1, h3 {
    font-family: 'Bowlby One SC', cursive;
    color: white;
}

.card-title{
    font-family: 'Archivo', sans-serif;
}

.div-logo{
    margin: 5%;
}
#logo {
width: 30%;
height: 20%;
}