body{
background-image:url("https://media.giphy.com/media/3og0IV7MOCfnm85iRa/giphy.gif");
background-size: cover;
}

h1, h3 {
    font-family: 'Bowlby One SC', cursive;
    color: white;
}

.card-title{
    font-family: 'Archivo', sans-serif;
}

.div-logo{
    margin: 5%;
}
#logo {
width: 30%;
height: 20%;
}